#thegangbg{
    background-image: url("../resources/bg/swirl_pattern.png");
    background-repeat: repeat;
}

.container-fluid{
    margin-left:15%;
    margin-right:15%;
}

#gangdisc{
    margin-top: 15%;
}

#gangname{
    color: black;
    font-family: 'Josefin Slab', fantasy;
    font-size: 65px;
}
 
#gangtag{
    color: black;
    font-family: 'Satisfy', cursive;
    width: 650px;
    margin-top: 40px;
    font-size: 45px;
}

#gangmotto{
    color: black;
    font-family: 'Josefin Slab', fantasy;
}

.icon{
    font-size:x-large;
    color:black;
}

#darrow{
    font-size:x-large;
    position:relative;
    top:40px;
    color:black;
}
#darrow:hover{
    font-size:xx-large;
}
