#thegangbg{
    background-image: url("../resources/bg/swirl_pattern.png");
    background-repeat: repeat;
}

.container-fluid{
    margin-left:15%;
    margin-right:15%;
}

#gangdisc{
    margin-top: 15%;
}

#ganglogo{
    color: black;
    font-family: 'Bevan', cursive;
    font-size: 30px;
}

#gangname{
    color: black;
    font-family: 'Bevan', cursive;
    text-shadow: 4px 3px #E9E9E9;
    font-size: 65px;
}
 
#gangtag{
    color: black;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px #E9E9E9;
    max-width: 650px;
    margin-top: 45px;
    font-size: 45px;
}

#gangmotto{
    color: black;
    font-family: 'Bevan', cursive;
    text-shadow: 2px 2px #E9E9E9;
}

.icon{
    font-size:x-large;
    color:black;
}

#darrow{
    font-size:x-large;
    position:relative;
    top:40px;
    color:black;
}

#darrow:hover{
    font-size:xx-large;
}

#peopleblock{
    margin-top:30%;
    color:black;
}

#peoplehead{
    font-family: 'Bevan', cursive;
    text-shadow: 2px 2px #E9E9E9;
    margin-bottom: 6%;
}

.peopleimg{
    margin:40px;
}

.colgrids{
    text-align:center; ! important

}

.peoplename{
    font-family: 'Bevan', cursive;
    text-shadow: 2px 2px #E9E9E9;
    font-size:20px;
}

.peoplelinks{
    color:black;
}

.footer{
    margin-top:7%;
    padding:20px;
}

.inner{
    color: black;
    font-family: 'Satisfy', cursive;
    text-shadow: 2px 2px #E9E9E9;
    text-align:center; 
}
